@charset "UTF-8";
/*UTILS*/
/*BASE**/
/*SELECTOR UNIVERSAL*/
/*SELECTOR UNIVERSAL*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*tipogragia general*/
/*ESTILO GLOBAL (BODY)*/
body {
  font-family: "Karla", sans-serif;
  line-height: normal;
  color: black;
}

/*LAYOUT*/
/*NAVBAR*/
/* HEADER*/
.navbar {
  background: rgb(65, 40, 1);
  background: linear-gradient(90deg, rgba(131, 95, 36, 0.998) 7%, rgb(156, 72, 3) 37%);
  line-height: normal;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
.navbar .container-fluid .buttonToRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .container-fluid .container .navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar .container-fluid .container .navbar-brand img {
  width: 70px;
  border-radius: 40px;
}
.navbar .container-fluid .container .legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
  display: contents;
}
.navbar .container-fluid .navbar-nav div {
  display: flex;
  align-items: center;
}
.navbar .container-fluid .navbar-nav div .nav-link {
  color: white;
  margin: 0 15px;
  margin: 15px 20px;
}

header {
  grid-area: header;
}

@media screen and (max-width: 1024px) {
  .navbar .container {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .container-fluid .navbar-collapse {
    margin: 0;
  }
  .container-fluid .navbar-collapse .ms-auto {
    margin-left: 0 !important;
  }
  .container-fluid .navbar-collapse .navbar-nav div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .container-fluid .navbar-collapse .navbar-nav div a {
    margin: 0;
  }
}
/*FOOTER*/
#pieDePagina {
  background: rgb(65, 40, 1);
  background: linear-gradient(90deg, rgba(131, 95, 36, 0.998) 7%, rgb(156, 72, 3) 37%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: black;
  line-height: normal;
}
#pieDePagina ul {
  list-style-type: none;
}
#pieDePagina ul li a img {
  width: 40px;
  margin: 10px 0;
  border-radius: 5px;
}
#pieDePagina iframe {
  padding: 2%;
}
#pieDePagina form p {
  text-align: center;
  padding: 20px 0;
}
#pieDePagina form .email {
  width: 50vw;
  display: flex;
}
#pieDePagina form .email .ingreso {
  width: 60%;
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}
#pieDePagina form .email .btnAceptar {
  width: 40%;
  height: 40px;
  margin: 0 10px;
  background-color: rgb(46, 29, 1);
  color: #fff;
  border: none;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
  }
  footer .email {
    width: 50vw;
  }
  footer .email .ingreso {
    margin: 0 5px;
  }
  footer .finalText {
    text-align: center;
  }
}
/*Footer home425px*/
@media screen and (max-width: 425px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
  }
  footer .email {
    width: 100vw !important;
  }
  footer .email .ingreso {
    margin: 0 5px;
  }
  footer .finalText {
    text-align: center;
  }
}
/*PAGES*/
/*HOME*/
/*MAIN*/
/*PORTADA*/
#portadaIndex {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#portadaIndex .portadaRight {
  width: 50vw;
}
#portadaIndex .portadaRight #carouselExampleSlidesOnly {
  margin: 30px 0 0 20px;
  width: 90% !important;
}
#portadaIndex .portadaRight .carousel-inner img {
  border-radius: 50px;
}
#portadaIndex .portadaLeft {
  width: 50vw;
  text-align: center;
}
#portadaIndex .portadaLeft h1 {
  font-size: 2rem;
  margin-bottom: 0;
  font-weight: normal;
  line-height: normal;
  font-family: "Permanent Marker", cursive;
}
#portadaIndex .portadaLeft .tarjeta {
  color: black;
}
#portadaIndex .portadaLeft .buttom {
  border-radius: 50px;
  border: 2px solid white;
  text-decoration: none;
  background-color: rgb(46, 29, 1);
  color: white;
  padding: 15px 25px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 5%;
  transition: padding 2s;
}
#portadaIndex .portadaLeft .buttom:hover {
  padding: 30px 50px;
}

/*PORTADA SERVICIOS*/
#serviciosPortada {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  color: black;
  line-height: normal;
}
#serviciosPortada a {
  text-align: center;
  text-decoration: none;
  color: black;
}
#serviciosPortada a h2 {
  padding-top: 4%;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
  transition: scale, color, 2s;
}
#serviciosPortada a h2:hover {
  scale: 1.5;
  color: whitesmoke;
}
#serviciosPortada .cardsServicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 4%;
}
#serviciosPortada .cardsServicios .servicios {
  width: 25%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 50px;
  border-radius: 50px;
  border: 5px;
  text-align: start;
  padding: 10px;
  transition: width 3s;
}
#serviciosPortada .cardsServicios .servicios h3 {
  text-align: center;
}
#serviciosPortada .cardsServicios .servicios p {
  padding-top: 10px;
}
#serviciosPortada .cardsServicios .servicios img {
  border-radius: 50px;
  border: 5px;
  width: 100%;
}
#serviciosPortada .cardsServicios .servicios:hover {
  width: 400px;
}

@media screen and (max-width: 1024px) {
  #portadaIndex {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 50vw;
  }
  #portadaIndex .portadaRight {
    width: 45vw;
  }
  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  #servicios .cardsServicios .servicios {
    padding: 0 1%;
  }
  #servicios .cardsServicios .servicios h3 {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  #portadaIndex {
    display: flex;
    flex-direction: column;
    min-height: 140vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 90vw;
  }
  #portadaIndex .portadaRight {
    width: 70vw;
    align-self: center;
  }
  #portadaIndex .portadaRight #carouselExampleSlidesOnly {
    width: 90% !important;
  }
  #portadaIndex .portadaRight .carousel-inner {
    border-radius: 50px;
  }
  #serviciosPortada .cardsServicios {
    flex-direction: column;
    align-items: center;
  }
  #serviciosPortada .cardsServicios .servicios {
    width: 80%;
    padding: 10px;
  }
}
@media screen and (max-width: 425px) {
  /*Portada principal*/
  #portadaIndex {
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 90vw;
  }
  #portadaIndex .portadaLeft h1 {
    font-size: 2rem;
  }
  #portadaIndex .portadaLeft h2 {
    font-size: large;
  }
  #portadaIndex .portadaRight {
    width: 90%;
  }
  #portadaIndex .portadaRight #carouselExampleSlidesOnly {
    width: 90% !important;
  }
  #servicios .cardsServicios {
    flex-direction: column;
    align-items: center;
  }
  #servicios .cardsServicios .servicios {
    width: 80%;
    padding: 10px;
  }
}
/*CONTACTO*/
/*MAIN*/
#portadaContacto {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  min-height: 100vh;
  text-align: center;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 90px;
}
#portadaContacto .cardContacto h1 {
  font-family: "Permanent Marker", cursive;
}
#portadaContacto form .nombreApellido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
  min-width: 50vw;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 50px;
  background: rgb(59, 37, 1);
  background: linear-gradient(90deg, rgba(177, 110, 3, 0.998) 7%, rgb(150, 70, 4) 37%);
}
#portadaContacto form .nombreApellido .textBox {
  border-radius: 10px;
  padding: 5px;
}
#portadaContacto form .nombreApellido .cardInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portadaContacto form .nombreApellido .cardInput label {
  padding-bottom: 30px;
}
#portadaContacto form .nombreApellido .cardInput #cajaMotivo {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 0 20px;
}
#portadaContacto form .nombreApellido .cardInput .textButton {
  background-color: rgb(46, 29, 1);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  padding: 10px 90px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  #portadaContacto {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 30px;
  }
  #portadaContacto #cajaMotivo {
    margin: 0 200px;
  }
}
@media screen and (max-width: 425px) {
  #portadaContacto {
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #portadaContacto .caja {
    padding: 0 10px;
  }
  #portadaContacto .textBox {
    margin: 4% 0%;
  }
}
/*NOSOTROS*/
/*-----NOSOTROS-----*/
/*MAIN*/
#frontPage {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#frontPage .portadaIzquierda {
  width: 50vw;
  text-align: center;
}
#frontPage .portadaIzquierda h1 {
  font-family: "Permanent Marker", cursive;
}
#frontPage .portadaDerecha {
  width: 50vw;
}
#frontPage .portadaDerecha img {
  border-radius: 50px;
  width: 100%;
  padding: 2%;
}

#secundaryPage {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  min-height: 115vh;
  padding-bottom: 5%;
}
#secundaryPage .cardArticles-1, #secundaryPage .cardArticles-4, #secundaryPage .cardArticles-3, #secundaryPage .cardArticles-2 {
  grid-area: ellos;
  max-width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 50px;
  border: 5px;
  margin-top: 30px;
  padding: 2%;
  text-align: start;
}
#secundaryPage .cardArticles-1 .imageContainer, #secundaryPage .cardArticles-4 .imageContainer, #secundaryPage .cardArticles-3 .imageContainer, #secundaryPage .cardArticles-2 .imageContainer {
  display: flex;
  justify-content: space-around;
  padding-top: 5%;
}
#secundaryPage .cardArticles-1 .imageContainer img, #secundaryPage .cardArticles-4 .imageContainer img, #secundaryPage .cardArticles-3 .imageContainer img, #secundaryPage .cardArticles-2 .imageContainer img {
  width: 150px;
  transition: width 2s;
  border-radius: 10px;
}
#secundaryPage .cardArticles-1 .imageContainer img:hover, #secundaryPage .cardArticles-4 .imageContainer img:hover, #secundaryPage .cardArticles-3 .imageContainer img:hover, #secundaryPage .cardArticles-2 .imageContainer img:hover {
  width: 200px;
}
#secundaryPage .cardArticles-1 h2, #secundaryPage .cardArticles-4 h2, #secundaryPage .cardArticles-3 h2, #secundaryPage .cardArticles-2 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
  text-align: center;
}
#secundaryPage .cardArticles-1 h3, #secundaryPage .cardArticles-4 h3, #secundaryPage .cardArticles-3 h3, #secundaryPage .cardArticles-2 h3 {
  text-align: center;
}
#secundaryPage .cardArticles-2 {
  grid-area: mapa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#secundaryPage .cardArticles-2 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage .cardArticles-2 iframe {
  padding: 5% 0;
  margin-bottom: 0;
}
#secundaryPage .cardArticles-3 {
  grid-area: años;
  margin-bottom: 0;
  line-height: normal;
}
#secundaryPage .cardArticles-3 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage .cardArticles-3 p {
  padding-top: 10%;
}
#secundaryPage .cardArticles-4 {
  grid-area: productos;
  text-align: center;
  margin-bottom: 0;
}
#secundaryPage .cardArticles-4 .articleImg {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}
#secundaryPage .cardArticles-4 .articleImg img {
  width: 200px;
  transition: 3s;
  border-radius: 10px;
}
#secundaryPage .cardArticles-4 .articleImg img:hover {
  width: 300px;
}
#secundaryPage .cardArticles-4 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage p {
  margin: 0;
}
#secundaryPage h4 {
  margin: 0;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 768px) {
  #frontPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  #frontPage .portadaIzquierda {
    width: 90vw;
    padding-top: 90px;
  }
  #frontPage .portadaDerecha {
    width: 50vw;
    padding: 30px 0;
  }
  #secundaryPage {
    min-height: 100vh;
    padding-bottom: 5%;
    background-color: #788782;
  }
  #secundaryPage .cardSecundaryPage {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-1 p, #secundaryPage .cardSecundaryPage .cardArticles-2 p, #secundaryPage .cardSecundaryPage .cardArticles-3 p, #secundaryPage .cardSecundaryPage .cardArticles-4 p {
    padding: 3%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-1 .imageContainer img, #secundaryPage .cardSecundaryPage .cardArticles-2 .imageContainer img, #secundaryPage .cardSecundaryPage .cardArticles-3 .imageContainer img, #secundaryPage .cardSecundaryPage .cardArticles-4 .imageContainer img {
    width: 250px;
    height: 250px;
    padding: 3%;
    border-radius: 40px;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-2 {
    padding: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-3 {
    padding: 1% 3%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-4 {
    padding: 4% 0;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-4 .articleImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-4 .articleImg img {
    border-radius: 40px;
    padding: 3%;
    width: 45%;
    height: 45%;
  }
}
@media screen and (max-width: 425px) {
  #frontPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 10%;
  }
  #frontPage .portadaIzquierda {
    width: 90%;
  }
  #frontPage .portadaIzquierda h1 {
    font-size: 2rem;
  }
  #frontPage .portadaDerecha {
    width: 90%;
  }
  #secundaryPage {
    min-height: 100vh;
  }
  #secundaryPage .cardArticles-1 p, #secundaryPage .cardArticles-2 p, #secundaryPage .cardArticles-3 p, #secundaryPage .cardArticles-4 p {
    padding: 3%;
  }
  #secundaryPage .cardArticles-1 .imageContainer img, #secundaryPage .cardArticles-2 .imageContainer img, #secundaryPage .cardArticles-3 .imageContainer img, #secundaryPage .cardArticles-4 .imageContainer img {
    width: 150px !important;
    height: 150px !important;
    padding: 3%;
    border-radius: 40px;
  }
  #secundaryPage .cardArticles-2 iframe {
    width: 150px;
    height: 150px;
  }
  #secundaryPage .cardArticles-3 h2 {
    text-align: center;
  }
  #secundaryPage .cardArticles-3 p {
    padding: 3%;
  }
  #secundaryPage .cardArticles-4 {
    padding: 4% 0;
  }
  #secundaryPage .cardArticles-4 .articleImg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #secundaryPage .cardArticles-4 .articleImg img {
    border-radius: 40px;
    padding: 3%;
    width: 150px !important;
    height: 150px !important;
  }
}
.cardSecundaryPage {
  display: grid;
  grid-template-areas: "ellos      años" "ellos      ." "productos  mapa";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 16px;
  padding: 0 1%;
}

/*PRODUCTOS*/
/*MAIN*/
#portadaProductos {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 4%;
  padding-top: 5%;
}
#portadaProductos h1 {
  font-family: "Permanent Marker", cursive;
}
#portadaProductos .photos {
  display: flex;
  justify-content: space-evenly;
}
#portadaProductos .photos img {
  border-radius: 10px;
  width: 30%;
  transition: width 3s;
}
#portadaProductos .photos img:hover {
  width: 35%;
}
#portadaProductos h2 {
  margin-bottom: 0;
}
#portadaProductos .buttonRecetas {
  background-color: rgb(46, 29, 1);
  border-radius: 15px;
  color: white;
  padding: 10px;
  transition: padding, color, background-color, 3s;
}
#portadaProductos .buttonRecetas:hover {
  padding: 15px;
  color: rgb(182, 179, 179);
  background-color: rgb(145, 40, 2);
}

#articulosProductos {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  color: black;
  min-height: 110vh;
  padding-top: 10px;
}
#articulosProductos a {
  color: black;
  text-decoration: none;
  transition: color 2s;
}
#articulosProductos a h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
  transition: scale 2s;
}
#articulosProductos a h2:hover {
  scale: 1.5;
}
#articulosProductos .articleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 25px;
}
#articulosProductos .articleContainer .cardArticles {
  max-width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 5px;
  padding: 2%;
  transition: max-width, background-color, 5s;
}
#articulosProductos .articleContainer .cardArticles h3 {
  margin-bottom: 0;
}
#articulosProductos .articleContainer .cardArticles p {
  margin-bottom: 0;
}
#articulosProductos .articleContainer .cardArticles:hover {
  max-width: 35%;
  background-color: rgb(168, 90, 1);
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  #portadaProductos {
    padding-top: 5%;
  }
  #portadaProductos .photos {
    padding: 0 20px;
  }
  #portadaProductos .photos img {
    width: 30%;
  }
  #articulosProductos {
    min-height: 150vh;
  }
  #articulosProductos .cardArticles {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 768px) {
  #portadaProductos {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    align-items: center;
  }
  #portadaProductos .photos {
    padding: 0 20px;
  }
  #portadaProductos .photos img {
    width: 30%;
  }
  #articulosProductos {
    min-height: 200vh;
  }
  #articulosProductos .articleContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  #articulosProductos .articleContainer .cardArticles {
    max-width: 90%;
    margin: 10px 0;
  }
  #articulosProductos .articleContainer .cardArticles h3 {
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  /*Portada principal*/
  #portadaProductos {
    padding-top: 10%;
    min-height: 140vh;
  }
  #portadaProductos .photos {
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
  }
  #portadaProductos .photos img {
    margin: 10px 0;
    width: 50%;
  }
  .cardProductos form div {
    display: flex;
    flex-direction: column;
  }
  #articulosProductos {
    min-height: 260vh;
    padding-bottom: 50px;
  }
}
/*PREGUNTAS FRECUENTES*/
#portadaPreguntas {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  color: black;
  min-height: 130vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding-top: 5% 0%;
}
#portadaPreguntas .tittles {
  padding-top: 3%;
}
#portadaPreguntas .tittles h1 {
  font-family: "Permanent Marker", cursive;
}
#portadaPreguntas .cardsArticlesPreguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 2%;
  border-radius: 50px;
  padding: 1%;
}

#articulosTutoriales {
  background: rgb(145, 91, 2);
  background: linear-gradient(90deg, rgba(145, 91, 2, 0.9976365546) 7%, rgb(227, 116, 24) 37%);
  text-align: center;
}
#articulosTutoriales a {
  color: black;
  text-decoration: none;
}
#articulosTutoriales a h2 {
  padding-bottom: 10px;
  font-family: "Permanent Marker", cursive;
  transition: scale, color, 2s;
}
#articulosTutoriales a h2:hover {
  scale: 1.5;
  color: white;
}
#articulosTutoriales .tutorialesVideo {
  min-height: 50vh;
  display: flex;
  justify-content: space-evenly;
}
#articulosTutoriales .tutorialesVideo iframe {
  width: 30%;
  min-height: 100%;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  #portadaPreguntas {
    min-height: 150vh;
    padding-top: 4%;
  }
  #portadaPreguntas .tittles h1 {
    margin: 0;
  }
  #portadaPreguntas .tittles h1 h2 {
    margin: 0;
  }
  #portadaPreguntas .cardsArticlesPreguntas h3 {
    margin: 0;
  }
  #portadaPreguntas .cardsArticlesPreguntas p {
    margin: 0;
  }
  #articulosTutoriales .tutorialesVideo {
    padding: 2% 0;
  }
  .recetaUno {
    grid-area: uno;
  }
  .recetaDos {
    grid-area: dos;
  }
  .recetaTres {
    grid-area: tres;
  }
}
@media screen and (max-width: 768px) {
  #portadaPreguntas {
    min-height: 170vh;
    padding: 5% 0;
  }
  .tutorialesVideo iframe {
    width: 30%;
    min-height: 100%;
  }
}
@media screen and (max-width: 425px) {
  #portadaPreguntas {
    min-height: 170vh;
    padding: 20% 0;
  }
  #portadaPreguntas .tittles {
    padding-top: 0;
  }
  #portadaPreguntas .gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  #portadaPreguntas .gridContainer article p {
    padding: 3%;
  }
  #articulosTutoriales .tutorialesVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #articulosTutoriales .tutorialesVideo iframe {
    min-width: 90%;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
