* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*ESTILO GLOBAL (BODY)*/

body {
  font-family: "Playfair Display", serif;
  line-height: normal;
  color: black;
  
}

/* HEADER*/

.navbar { 
  background-color: rgb(32, 29, 29);
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-nav a {
  margin: 15px 20px;
  }


.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
    
}

.container-fluid div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

header {
  grid-area: header;
}

/*MAIN*/

 section {
  
  background-image: url(../img/correo.png);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  height: 100vh;
  text-align: center;
}

#portadaContacto {
  grid-area: section;
  
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section .cardContacto {
  padding-bottom: 10px;
}

section .cardInput {
  padding-top: 10px;
}

.cardInput .textButton {
  border-radius: 10px;
  padding: 3px;
}

.textBox {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    
}

.colorTextBox {
  background-color: brown;
  display: inline;
  border-radius: 20px;
  padding: 5px;
}

/*FOOTER*/

footer {
  grid-area: footer;
  background-color: rgb(141, 140, 138);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer span {
  color: black;
}

footer ul {
  list-style-type: none;
}

form p {
  padding: 20px 0;
  text-align: center;
}
.email {
  width: 50vw;
  display: flex;
  
}

.ingreso {
  width: 60% ; /*400px*/
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}

.btnAceptar {
  width: 40% ; /*200px*/
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 78, 4);
  color: #fff;
  border: none;
  border-radius: 10px;
}
footer div iframe {
  padding: 2%;
}

/*BOTON NAVBAR RESPOSIVE*/

.navbar-toggler{
  margin-left: auto!important;
}

/*MEDIA QUERYS*/

@media screen and (max-width: 767px) { 

 .navbar-collapse {
   margin: 0;
  }
  
 .container-fluid {
   display: flex;
   flex-direction: column;
  }
  
  .navbar-nav div {
   display: flex;
   flex-direction: column;
   align-items: start;
   font-size: smaller;
  }
  
  .ms-auto {
    margin-left: 0!important;
  }
  
  .navbar-nav a {
   margin: 0;
  }

  .container {
   max-width: none;
  }
  
}

@media screen and (max-width: 320px) {
  
 #portadaContacto {
   margin-top: 10%;
  }

  .textBox {
    margin: 4% 0%;
  }

  footer ul  {
   display: flex;
   justify-content: space-around;
   padding-top: 7px;
  }
  
  .email {
   width: 100vw;
  }
    
  .ingreso { 
   margin: 0 5px;
  }
  
  .finalText {
   text-align: center;
  }

}


  