* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*ESTILO GLOBAL (BODY)*/


body {
  font-family: "Playfair Display", serif;
  line-height: normal;
  color: black;
  
}

/* HEADER*/

.navbar { 
  background-color: rgb(32, 29, 29);
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-nav a {
  margin: 15px 20px;
  }

  .navbar-brand {
    padding: 0;
    margin: 0;
  }

  .nav-link {
    color: white;
    margin: 0 15px;
  }

  .container-fluid div {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

header {
  
  grid-area: header;
}

/*MAIN*/

/*PORTADA*/

#portada {
  background-color: rgb(122, 111, 111);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#portada .portadaRight {
  width: 50vw;
}

#portada .portadaRight img {
  border-radius: 50px;
  width: 100%;
  padding: 2%;
}

#portada .portadaLeft {
  width: 50vw;
  text-align: center;
}

#portada .portadaLeft h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 400;
  line-height: normal;
}

.tarjeta {
  color: black;
}

.buttom {
  border-radius: 50px;
  border: 2px solid white;
  text-decoration: none;
  background-color: rgb(3, 96, 128);
  color: white;
  padding: 15px 25px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 5%;
}

/*PORTADA SERVICIOS*/

section {
  background-color: #788782;
  color: black;
  line-height: normal;
}

#servicios h2 {
  text-align: center;
  padding-top: 4%;
}

#servicios .cardsServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4%;
}

#servicios .servicios {
  width: 320px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 50px;
  border-radius: 50px;
  border: 5px;
  text-align: center;
}

#servicios .servicios img {
  border-radius: 50px;
  border: 5px;
  width: 100%;
}

/*FOOTER*/

#pieDePagina {
  background-color: rgb(141, 140, 138);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: black;
  line-height: normal;
}

footer ul {
  list-style-type: none;
}

form p {
  text-align: center;
  padding: 20px 0;
}

.email {
  width: 50vw;
  display: flex;
}

.ingreso {
  width: 60%; 
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}

.btnAceptar {
  width: 40%; 
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 78, 4);
  color: #fff;
  border: none;
  border-radius: 10px;
}

footer div iframe {
  padding: 2%;
}

/*BOTON NAVBAR RESPOSIVE*/

.navbar-toggler{
  margin-left: auto;
}

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  header {
    /*display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 7px;*/
    font-size: small;
  }

  main #portada {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #portada .portadaLeft {
    width: 90%;
    padding-top: 10%;
  }

  #portada .portadaRight {
    width: 70%;
  }

  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {

 .navbar-collapse {
  margin: 0;
 }

  .container-fluid {
    display: flex;
    flex-direction: column;
  }

  .navbar-nav div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

   .ms-auto {
    margin-left: 0!important;
   }

   .navbar-nav a {
    margin: 0;
   }
   
   .container {
    max-width: none;
   }

  main #portada {
    display: flex;
    flex-direction: column;
    height: 140vh;
    justify-content: center;
    align-items: center;
  }

  #portada .portadaLeft {
    width: 100%;
  }

  #portada .portadaRight {
    width: 70%;
  }

  #servicios .cardsServicios {
    flex-direction: column;
    align-items: center;
  }

  #servicios .servicios {
    width: 80%;
    padding: 1%;
  }
}

@media screen and (max-width: 320px) {
  /*Encabezado y navbar*/
  header {
    display: flex;
    flex-direction: column;
    position: static;
  }

  .container-fluid {
    display: flex;
    flex-wrap: nowrap;
  }

  header .headerLeft {
    display: flex;
  }

  .headerLeft h2 {
    font-size: large;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    margin: 5px;
  }

  /*Portada principal*/

  main #portada {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #portada .portadaLeft {
    width: 100%;
  }

  #portada .portadaLeft h1 {
    font-size: 2rem;
  }

  .portadaLeft h2 {
    font-size: large;
  }

  #portada .portadaRight {
    width: 90%;
  }

  #servicios .cardsServicios {
    flex-direction: column;
    align-items: center;
  }

  #servicios .servicios {
    width: 80%;
    padding: 1%;
  }

  /*Footer*/
  footer ul {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
  }

  .email {
    width: 100vw;
  }

  .ingreso {
    margin: 0 5px;
  }

  .finalText {
    text-align: center;
  }
}
