* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*ESTILO GLOBAL (BODY)*/


body {
  font-family: "Playfair Display", serif;
  line-height: normal;
  color: black;
  
}

/* HEADER*/

header {
  padding: 0;
  }

.navbar {
  background-color: rgb(32, 29, 29);
  display: flex;
  flex-flow: row wrap;
  padding: 0 ;
}
.nav-link {
  color: white;
  margin: 0 15px;
  
}

.navbar-nav a {
margin: 15px 20px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

/*MAIN*/

#portadaProductos {
  background-color: rgb(141, 140, 138);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  
  margin-top: 6%;
}

#portadaProductos .photos {
  display: flex;
  justify-content: space-between;
}

#portadaProductos .photos img {
  width: 30%;
  height: 80%;
}

#portadaProductos h2 {
  margin-bottom: 0;
}

.buttonRecetas {
  background-color: green;
  border-radius: 15px;
  color: white;
  padding: 10px;
}

#articulosProductos {
  background-color: #788782;
  color: white;
  height: 120vh;
  padding-top: 10px;
}

#articulosProductos h2 {
  text-align: center;
  margin-bottom: 0;
}

#articulosProductos h3 {
  margin-bottom: 0;
}

#articulosProductos p {
  margin-bottom: 0;
}

#articulosProductos .cardArticles {
  max-width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 5px;
  padding: 2%;
}

.articleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 25px;
}

/*FOOTER*/

#pieDePagina {
  background-color: rgb(141, 140, 138);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer ul li {
  list-style-type: none;
}

form p {
  text-align: center;
  padding: 20px 0;
}

.email {
  width: 50vw;
  display: flex;
}

.ingreso {
  width: 60%;
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}

.btnAceptar {
  width: 40%;
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 78, 4);
  color: #fff;
  border: none;
  border-radius: 10px;
}

footer div iframe {
  padding: 2%;
}

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 7px;
    font-size: small;
  }

  #portadaProductos {
    padding-top: 5%;
  }

  #portadaProductos .photos img {
    width: 30%;
    height: 80%;
  }

  #articulosProductos {
    height: 120vh;
  }

  #articulosProductos .cardArticles {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
  }

  header .headerLeft {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header nav {
    display: flex;
    justify-content: space-evenly;
  }

  main #portadaProductos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 15%;
  }

  #portadaProductos .photos img {
    width: 30%;
    height: 80%;
  }

  #articulosProductos {
    height: 140vh;
  }

  #articulosProductos .articleContainer {
    flex-direction: column;
  }

  #articulosProductos .articleContainer .cardArticles {
    max-width: fit-content;
  }

  .cardArticles h3 {
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  /*Encabezado y navbar*/
  header {
    display: flex;
    flex-direction: column;
    padding: 0 2px;
    position: static;
  }

  header .headerLeft {
    display: flex;
  }

  .headerLeft h2 {
    font-size: large;
  }

  header nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header nav ul li {
    margin: 5px;
  }

  /*Portada principal*/

  #portadaProductos {
    padding-top: 0;
  }

  #portadaProductos .photos {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #portadaProductos div {
    flex-direction: column;
    align-items: center;
  }

  .cardProductos form div {
    display: flex;
    flex-direction: column;
  }

  #articulosProductos {
    height: 280vh;
  }

  /*Footer*/
  footer ul  {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
   }

   .email {
    width: 100vw;
  }
  
  .ingreso { 
    margin: 0 5px;
  }

  .finalText {
    text-align: center;
  }
}
