@charset "UTF-8";
/*UTILS*/
/*BASE**/
/*SELECTOR UNIVERSAL*/
/*SELECTOR UNIVERSAL*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*tipogragia general*/
/*ESTILO GLOBAL (BODY)*/
body {
  font-family: "Karla", sans-serif;
  line-height: normal;
  color: black;
}

/*LAYOUT*/
/*NAVBAR*/
/* HEADER*/
.navbar {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #283b4e, #737779); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #212b35, #424446); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  line-height: normal;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}
.navbar .container-fluid .container .navbar-brand {
  padding: 0;
  margin: 0;
}
.navbar .container-fluid .container .legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
  display: contents;
}
.navbar .container-fluid .navbar-nav div {
  display: flex;
  align-items: center;
}
.navbar .container-fluid .navbar-nav div .nav-link {
  color: white;
  margin: 0 15px;
  margin: 15px 20px;
}

header {
  grid-area: header;
}

@media screen and (max-width: 1024px) {
  header {
    font-size: small;
  }
}
@media screen and (max-width: 767px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  .container-fluid .container {
    max-width: none;
  }
  .container-fluid .navbar-collapse {
    margin: 0;
  }
  .container-fluid .navbar-collapse .ms-auto {
    margin-left: 0 !important;
  }
  .container-fluid .navbar-collapse .navbar-nav div {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .container-fluid .navbar-collapse .navbar-nav div a {
    margin: 0;
  }
}
/*FOOTER*/
#pieDePagina {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: black;
  line-height: normal;
}
#pieDePagina ul {
  list-style-type: none;
}
#pieDePagina iframe {
  padding: 2%;
}
#pieDePagina form p {
  text-align: center;
  padding: 20px 0;
}
#pieDePagina form .email {
  width: 50vw;
  display: flex;
}
#pieDePagina form .email .ingreso {
  width: 60%;
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}
#pieDePagina form .email .btnAceptar {
  width: 40%;
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 78, 4);
  color: #fff;
  border: none;
  border-radius: 10px;
}

/*Footer home320px*/
@media screen and (max-width: 320px) {
  footer ul {
    display: flex;
    justify-content: space-around;
    padding-top: 7px;
  }
  footer .email {
    width: 100vw !important;
  }
  footer .email .ingreso {
    margin: 0 5px;
  }
  footer .finalText {
    text-align: center;
  }
}
/*PAGES*/
/*HOME*/
/*MAIN*/
/*PORTADA*/
#portadaIndex {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#portadaIndex .portadaRight {
  width: 50vw;
}
#portadaIndex .portadaRight img {
  border-radius: 50px;
  width: 100%;
  padding: 2%;
}
#portadaIndex .portadaLeft {
  width: 50vw;
  text-align: center;
}
#portadaIndex .portadaLeft h1 {
  font-size: 3rem;
  margin-bottom: 0;
  font-weight: 400;
  line-height: normal;
  font-family: "Permanent Marker", cursive;
}
#portadaIndex .portadaLeft .tarjeta {
  color: black;
}
#portadaIndex .portadaLeft .buttom {
  border-radius: 50px;
  border: 2px solid white;
  text-decoration: none;
  background-color: rgb(3, 96, 128);
  color: white;
  padding: 15px 25px;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-top: 5%;
  transition: padding 2s;
}
#portadaIndex .portadaLeft .buttom:hover {
  padding: 30px 50px;
}

/*PORTADA SERVICIOS*/
#servicios {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  line-height: normal;
}
#servicios a {
  text-align: center;
  text-decoration: none;
  color: black;
}
#servicios a h2 {
  padding-top: 4%;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
  transition: scale, color, 2s;
}
#servicios a h2:hover {
  scale: 1.5;
  color: whitesmoke;
}
#servicios .cardsServicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  padding-bottom: 4%;
}
#servicios .cardsServicios .servicios {
  width: 320px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin-top: 50px;
  border-radius: 50px;
  border: 5px;
  text-align: center;
  transition: width 3s;
}
#servicios .cardsServicios .servicios img {
  border-radius: 50px;
  border: 5px;
  width: 100%;
}
#servicios .cardsServicios .servicios:hover {
  width: 400px;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  #portadaIndex {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 90%;
    padding-top: 10%;
  }
  #portadaIndex .portadaRight {
    width: 70%;
  }
  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 140vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 100%;
  }
  #portadaIndex .portadaRight {
    width: 70%;
  }
  #servicios .cardsServicios {
    flex-direction: column;
    align-items: center;
  }
  #servicios .cardsServicios .servicios {
    width: 80%;
    padding: 1%;
  }
}
@media screen and (max-width: 320px) {
  /*Portada principal*/
  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  #portadaIndex .portadaLeft {
    width: 100%;
  }
  #portadaIndex .portadaLeft h1 {
    font-size: 2rem;
  }
  #portadaIndex .portadaLeft h2 {
    font-size: large;
  }
  #portadaIndex .portadaRight {
    width: 90%;
  }
  #servicios .cardsServicios {
    flex-direction: column;
    align-items: center;
  }
  #servicios .cardsServicios .servicios {
    width: 80%;
    padding: 1%;
  }
}
/*CONTACTO*/
/*MAIN*/
#portadaContacto {
  background-image: url(../img/gmail-portadapng.webp);
  background-repeat: repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  text-align: center;
  grid-area: section;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#portadaContacto .cardContacto {
  padding-bottom: 10px;
}
#portadaContacto .cardInput {
  padding-top: 10px;
}
#portadaContacto .cardInput .colorTextBox {
  background-color: rgb(71, 70, 70);
  display: inline;
  border-radius: 20px;
  padding: 5px;
}
#portadaContacto .cardInput .textBox {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#portadaContacto .cardInput .textButton {
  border-radius: 10px;
  padding: 3px;
}

@media screen and (max-width: 767px) {
  #portadaContacto {
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    height: 100vh;
  }
}
@media screen and (max-width: 320px) {
  #portadaContacto {
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    margin-top: 10%;
  }
  #portadaContacto .cardContacto {
    color: black;
  }
  #portadaContacto .textBox {
    margin: 4% 0%;
  }
}
/*NOSOTROS*/
/*-----NOSOTROS-----*/
/*MAIN*/
#frontPage {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#frontPage .portadaIzquierda {
  width: 50vw;
  text-align: center;
}
#frontPage .portadaIzquierda h1 {
  font-family: "Permanent Marker", cursive;
}
#frontPage .portadaDerecha {
  width: 50vw;
}
#frontPage .portadaDerecha img {
  border-radius: 50px;
  width: 100%;
  padding: 2%;
}

#secundaryPage {
  height: 115vh;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#secundaryPage .cardArticles-1 {
  grid-area: ellos;
  max-width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 50px;
  border: 5px;
  margin-top: 30px;
  padding: 2%;
  text-align: center;
}
#secundaryPage .cardArticles-1 img {
  width: 100px;
  transition: width 2s;
}
#secundaryPage .cardArticles-1 img:hover {
  width: 200px;
}
#secundaryPage .cardArticles-1 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage .cardArticles-2 {
  grid-area: mapa;
  width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 50px;
  border: 5px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2%;
}
#secundaryPage .cardArticles-2 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage .cardArticles-2 iframe {
  padding: 5% 0;
  margin-bottom: 0;
}
#secundaryPage .cardArticles-3 {
  grid-area: años;
  max-width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 50px;
  border: 5px;
  margin-top: 30px;
  text-align: center;
  padding: 2%;
  margin-bottom: 0;
  font-weight: 600;
  line-height: normal;
}
#secundaryPage .cardArticles-3 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage .cardArticles-4 {
  grid-area: productos;
  max-width: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 50px;
  border: 5px;
  margin-top: 30px;
  text-align: center;
  padding: 2%;
  margin-bottom: 0;
}
#secundaryPage .cardArticles-4 img {
  width: 200px;
  transition: 3s;
}
#secundaryPage .cardArticles-4 img:hover {
  width: 300px;
}
#secundaryPage .cardArticles-4 h2 {
  font-weight: 600;
  line-height: normal;
  margin: 0;
}
#secundaryPage p {
  margin: 0;
}
#secundaryPage h4 {
  margin: 0;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  header {
    font-size: small;
  }
  #secundaryPage {
    height: 140vh;
  }
}
@media screen and (max-width: 767px) {
  #secundaryPage {
    height: 200vh;
    background-color: #788782;
  }
  #secundaryPage .cardSecundaryPage {
    display: flex;
    flex-direction: column;
    margin: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-1 {
    padding: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-2 {
    padding: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-3 {
    padding: 0 1%;
  }
  #secundaryPage .cardSecundaryPage .cardArticles-4 {
    padding: 0 1%;
  }
}
@media screen and (max-width: 320px) {
  #frontPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }
  #frontPage .portadaIzquierda {
    width: 100%;
  }
  #frontPage .portadaIzquierda h1 {
    font-size: 2rem;
  }
  #frontPage .portadaDerecha {
    width: 90%;
  }
  #secundaryPage {
    height: 230vh;
  }
  #secundaryPage .cardArticles-2 iframe {
    width: 150px;
    height: 150px;
  }
  #secundaryPage .cardArticles-3 {
    padding: 2%;
  }
  #secundaryPage .cardArticles-4 {
    padding: 4% 0;
  }
  #secundaryPage .cardArticles-4 .articleImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #secundaryPage .cardArticles-4 .articleImg img {
    width: 50px;
    height: 50px;
  }
}
.cardSecundaryPage {
  display: grid;
  grid-template-areas: "ellos  productos productos" "ellos  años       mapa";
  grid-template-columns: 300px 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  padding: 0 1%;
}

/*PRODUCTOS*/
/*MAIN*/
#portadaProductos {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-top: 4%;
  padding-top: 5%;
}
#portadaProductos h1 {
  font-family: "Permanent Marker", cursive;
}
#portadaProductos .photos {
  display: flex;
  justify-content: space-between;
}
#portadaProductos .photos img {
  width: 30%;
  height: 80%;
  transition: width, height 3s;
}
#portadaProductos .photos img:hover {
  width: 70%;
  height: 90%;
}
#portadaProductos h2 {
  margin-bottom: 0;
}
#portadaProductos .buttonRecetas {
  background-color: green;
  border-radius: 15px;
  color: white;
  padding: 10px;
  transition: padding, color, background-color, 3s;
}
#portadaProductos .buttonRecetas:hover {
  padding: 30px;
  color: black;
  background-color: rgb(15, 92, 88);
}

#articulosProductos {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  height: 110vh;
  padding-top: 10px;
}
#articulosProductos a {
  color: white;
  text-decoration: none;
  transition: color 2s;
}
#articulosProductos a h2 {
  text-align: center;
  margin-bottom: 0;
  font-family: "Permanent Marker", cursive;
  transition: scale 2s;
}
#articulosProductos a h2:hover {
  scale: 1.5;
}
#articulosProductos a:hover {
  color: black;
}
#articulosProductos .articleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 25px;
}
#articulosProductos .articleContainer .cardArticles {
  max-width: 30%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 5px;
  padding: 2%;
  transition: max-width, background-color, 5s;
}
#articulosProductos .articleContainer .cardArticles h3 {
  margin-bottom: 0;
}
#articulosProductos .articleContainer .cardArticles p {
  margin-bottom: 0;
}
#articulosProductos .articleContainer .cardArticles:hover {
  max-width: 35%;
  background-color: rgb(99, 92, 92);
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  #portadaProductos {
    padding-top: 5%;
  }
  #portadaProductos .photos img {
    width: 30%;
    height: 80%;
  }
  #articulosProductos {
    height: 150vh;
  }
  #articulosProductos .cardArticles {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  #portadaProductos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
  }
  #portadaProductos .photos img {
    width: 30%;
    height: 80%;
  }
  #articulosProductos {
    height: 170vh;
  }
  #articulosProductos .articleContainer {
    flex-direction: column;
  }
  #articulosProductos .articleContainer .cardArticles {
    max-width: fit-content;
  }
  #articulosProductos .articleContainer .cardArticles h3 {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  /*Portada principal*/
  #portadaProductos {
    padding-top: 10%;
  }
  #portadaProductos div {
    flex-direction: column;
    align-items: center;
  }
  #portadaProductos div .photos {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cardProductos form div {
    display: flex;
    flex-direction: column;
  }
  #articulosProductos {
    height: 340vh;
  }
}
/*PREGUNTAS FRECUENTES*/
#portadaPreguntas {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  height: 110vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  padding-top: 5% 0%;
}
#portadaPreguntas .tittles {
  padding-top: 3%;
}
#portadaPreguntas .tittles h1 {
  font-family: "Permanent Marker", cursive;
}
#portadaPreguntas .cardsArticlesPreguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 2%;
  border-radius: 50px;
  padding: 1%;
}

#articulosTutoriales {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
#articulosTutoriales a {
  color: black;
  text-decoration: none;
}
#articulosTutoriales a h2 {
  padding-bottom: 10px;
  font-family: "Permanent Marker", cursive;
  transition: scale, color, 2s;
}
#articulosTutoriales a h2:hover {
  scale: 1.5;
  color: white;
}
#articulosTutoriales .tutorialesVideo {
  display: flex;
  justify-content: space-evenly;
}

/*MEDIA QUERYS*/
@media screen and (max-width: 1024px) {
  #portadaPreguntas {
    height: 130vh;
    margin-top: 4%;
  }
  #portadaPreguntas .tittles h1 {
    margin: 0;
  }
  #portadaPreguntas .tittles h1 h2 {
    margin: 0;
  }
  #portadaPreguntas .cardsArticlesPreguntas h3 {
    margin: 0;
  }
  #portadaPreguntas .cardsArticlesPreguntas p {
    margin: 0;
  }
  #articulosTutoriales .tutorialesVideo {
    padding: 2% 0;
  }
  .recetaUno {
    grid-area: uno;
  }
  .recetaDos {
    grid-area: dos;
  }
  .recetaTres {
    grid-area: tres;
  }
}
@media screen and (max-width: 767px) {
  #portadaPreguntas {
    height: 140vh;
    padding: 20% 0%;
  }
}
@media screen and (max-width: 320px) {
  #portadaPreguntas {
    height: 260vh;
  }
  #portadaPreguntas .tittles {
    padding-top: 0;
  }
  #portadaPreguntas .gridContainer {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  #portadaPreguntas .gridContainer article p {
    padding: 3%;
  }
  #articulosTutoriales .tutorialesVideo {
    display: flex;
    flex-direction: column;
  }
  #articulosTutoriales .tutorialesVideo iframe {
    max-width: 90%;
    padding-left: 5%;
    margin-bottom: 10px;
  }
}
/*BOTON NAVBAR RESPONSIVE*/
/*BOTON NAVBAR RESPOSIVE*/
.navbar-toggler {
  margin-left: auto;
}

/*# sourceMappingURL=style.css.map */
