* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

/*ESTILO GLOBAL (BODY)*/

body {
  font-family: "Playfair Display", serif;
  line-height: normal;
  color: black;
  
}
/* HEADER*/
.navbar { 
  background-color: rgb(32, 29, 29);
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
}

.navbar-nav a {
  margin: 15px 20px;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.nav-link {
  color: white;
    
}


.container-fluid div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.legend {
  color: white;
  font-size: 1.5em;
  margin: 0;
}


/*MAIN*/

#portadaPreguntas {
  background-color: lightcyan;
  color: black;
  height: 110vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.tittles {
  padding-top: 3%;
}

#portadaPreguntas .cardsArticlesPreguntas {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 2%;
  border-radius: 50px;
  padding: 1%;
  
  
}

#articulosTutoriales {
  background-color: rgb(177, 173, 166);
  text-align: center;
}

#articulosTutoriales h2 {
  padding-bottom: 10px;
}

#articulosTutoriales .tutorialesVideo {
  display: flex;
  justify-content: space-evenly;
}

/*FOOTER*/

#pieDePagina {
  background-color: rgb(141, 140, 138);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer ul {
  list-style-type: none;
}

form p {
  text-align: center;
  padding: 20px 0;
}

.email {
  width: 50vw;
  display: flex;
  
}

.ingreso {
  width:  60%;
  height: 40px;
  margin: 0 20px;
  border: none;
  border-radius: 10px;
}

.btnAceptar {
  width: 40%;
  height: 40px;
  margin: 0 10px;
  background-color: rgb(41, 78, 4);
  color: #fff;
  border: none;
  border-radius: 10px;
}
footer div iframe {
  padding: 2%;
}

/*BOTON NAVBAR RESPOSIVE*/

.navbar-toggler{
  margin-left: auto;
}


/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {

  .navbar-collapse {
    margin: 0;
  }
  
  .container-fluid {
   display: flex;
   flex-direction: row;
  }
  
  .ms-auto {
   margin-left: 0!important;
  }
  
  .navbar-nav a {
   margin: 0;
  }
     
  .container {
   max-width: none;
   display: flex;
   align-items: center;
  }

  
  #portadaPreguntas {
    height: 130vh;
  }

  .tittles h1 {
    margin: 0;
  }

  .tittles h2 {
    margin: 0;
  }

  .cardsArticles h3 {
    margin: 0;
  }

  .cardsArticles p {
    margin: 0;
  }


  .tutorialesVideo {
    padding: 2% 0;
  }


 .recetaUno{
 grid-area: uno;
 }

 .recetaDos{
  grid-area: dos;
 }

 .recetaTres{
 grid-area: tres;
 }
}

@media  screen and (max-width: 767px) {

  .navbar-collapse {
    margin: 0;
  }
  
  .container-fluid {
    display: flex;
    flex-direction: column;
  }
  
  .ms-auto {
   margin-left: 0!important;
  }
  
  .navbar-nav a {
   margin: 0;
  }

  
 .navbar-nav div {
   display: flex;
   flex-direction: column;
   align-items: start;
  }
  
     
 .container {
   max-width: none;
   display: flex;
   align-items: center;
  }

  #portadaPreguntas {
   height: 140vh;
   padding: 20% 0%;
  }

}

@media screen and (max-width: 320px) {

 #portadaPreguntas {
  height: 260vh;
 }

 .tittles {
   padding-top: 0;
 }

 .gridContainer {
   display: flex;
   flex-direction: column;
   max-width: 100%;
 }

 .gridContainer article p {
   padding: 3%;
 }

 .tutorialesVideo iframe {
   max-width: 90%;
   padding-left: 5%;
   margin-bottom: 10px;
 }

 .tutorialesVideo{
   display: flex;
   flex-direction: column;
 
 }

 footer ul  {
   display: flex;
   justify-content: space-around;
   padding-top: 7px;
 }

 .email {
   width: 100vw;
  }

 .ingreso { 
   margin: 0 5px;
  }

 .finalText {
   text-align: center;
  }

}
