/* HEADER*/

.navbar {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #283b4e,
    #737779
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #212b35,
    #424446
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  line-height: normal;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;

  .container-fluid {

    .buttonToRight {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .container {
            
      .navbar-brand {
        padding: 0;
        margin: 0;
      }

      .legend {
        color: $color-enlaces;
        font-size: 1.5em;
        margin: 0;
        display: contents;
      }
    }

    .navbar-nav {
      div {
        display: flex;
        align-items: center;

        .nav-link {
          color: $color-enlaces;
          margin: 0 15px;
          margin: 15px 20px;
        }
      }
    }
  }
}

header {
  grid-area: header;
}

@media screen and (max-width: 1024px) {
  header {
    font-size: small;
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {

    display: flex;
    flex-direction: column;

    

    .navbar-collapse {
      margin: 0;

      .ms-auto {
        margin-left: 0 !important;
      }

      .navbar-nav div {
        display: flex;
        flex-direction: column;
        align-items: start;

        a {
          margin: 0;
        }
      }
    }
  }
}
