/* HEADER*/

.navbar {
  background-color: rgb(32, 29, 29);
  padding: 0;
  display: flex;
  flex-wrap: nowrap;

  .container-fluid {
    .container {
      .navbar-brand {
        padding: 0;
        margin: 0;
      }

      .legend {
        color: white;
        font-size: 1.5em;
        margin: 0;
        display: contents;
      }
    }

    .navbar-nav {
      div {
        display: flex;
        align-items: center;

        .nav-link {
          color: white;
          margin: 0 15px;
          margin: 15px 20px;
        }
      }
    }
  }
}

header {
  grid-area: header;
}

@media screen and (max-width: 1024px) {
  header {
    font-size: small;
  }
}

@media screen and (max-width: 767px) {
  .container-fluid {
    display: flex;
    flex-direction: column;

    .container {
      max-width: none;
    }

    .navbar-collapse {
      margin: 0;

      .ms-auto {
        margin-left: 0 !important;
      }

      .navbar-nav div {
        display: flex;
        flex-direction: column;
        align-items: start;

        a {
          margin: 0;
        }
      }
    }
  }
}
