/*MAIN*/

#portadaContacto {
  background-image: url(../img/gmail-portadapng.webp);
  @include background-contacto(repeat, tamanio, position);
  min-height: 100vh;
  text-align: center;
  grid-area: section;
  color: rgb(0, 0, 0);
  @include flex(column, center, center);
  padding-top: 90px;
  

  .cardContacto {
    padding-bottom: 10px;
  }

  .cardInput {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
    .caja {
      width: 300px;
      height: 200px;
    }
    .colorTextBox {
      background-color: rgb(71, 70, 70);
      display: inline;
      border-radius: 20px;
      padding: 5px;
    }

    .textButton {
      background-color: rgb(3, 96, 128);
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 50px;
      border: 2px solid white;
      color: white;
      padding: 3px;
    }
  }
}

@media screen and (max-width: 768px) {
  #portadaContacto {
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  #portadaContacto {
    min-height: 100vh;
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .caja {
      padding: 0 10px;
    }

    .textBox {
      margin: 4% 0%;
    }
  }
}
