/*MAIN*/

#portadaContacto {
  background: rgb(145, 91, 2);
  background: linear-gradient(
    90deg,
    rgba(145, 91, 2, 0.9976365546218487) 7%,
    rgba(227, 116, 24, 1) 37%
  );
  min-height: 100vh;
  text-align: center;
  color: rgb(0, 0, 0);
  @include flex(column, center, center);
  padding-top: 90px;
  
  .cardContacto {
    h1{
      font-family: $fuente-titulo;
    }
  }

  form {

    .nombreApellido {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      min-height: 100vh;
      min-width: 50vw;
      margin: 30px 0;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border-radius:50px;
      background: rgb(59, 37, 1);
      background: linear-gradient(
        90deg,
        rgba(177, 110, 3, 0.998) 7%,
        rgb(150, 70, 4) 37%
      );

      .textBox {
        border-radius: 10px;
        padding: 5px; 
      }

      .cardInput {

        @include flex (column, center, center);

        label {
          padding-bottom: 30px;
        }

        #cajaMotivo{
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          margin: 0 20px;
        }
        
        .textButton {
          background-color: $button-color;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
          border-radius: 50px;
          border: 2px solid white;
          color: white;
          padding: 10px 90px;
          margin-top: 20px;
        }
      }
    }

    
  }

  

  
}

@media screen and (max-width: 768px) {
  #portadaContacto {
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 30px;

    #cajaMotivo{
      margin: 0 200px;
    }
  }
}

@media screen and (max-width: 425px) {
  #portadaContacto {
    min-height: 100vh;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .caja {
      padding: 0 10px;
    }

    .textBox {
      margin: 4% 0%;
    }
  }
}
