/*MAIN*/

#portadaContacto {
  background-image: url(../img/gmail-portadapng.webp);
  background-repeat:repeat;
  background-size: 100%;
  background-position: center;
  height: 100vh;
  text-align: center;
  grid-area: section;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cardContacto {
    padding-bottom: 10px;
  }

  .cardInput {
    padding-top: 10px;

    .colorTextBox {
      background-color: rgb(71, 70, 70);
      display: inline;
      border-radius: 20px;
      padding: 5px;
    }

    .textBox {
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
        rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    }

    .textButton {
      border-radius: 10px;
      padding: 3px;
    }
  }
}

@media screen and (max-width: 767px) {
  #portadaContacto {
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    
    height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  #portadaContacto {
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    margin-top: 10%;

    .cardContacto {
      color: black;
    }

    .textBox {
      margin: 4% 0%;
    }
  }
}
