/*-----NOSOTROS-----*/
/*MAIN*/

#frontPage {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  text-align: center;
  @include flex (row, center, center);
  
  .portadaIzquierda {
    width: 50vw;
    text-align: center;
    h1{
      font-family: $fuente-titulo;
    }
  }

  .portadaDerecha {
    width: 50vw;

    img {
      border-radius: 50px;
      width: 100%;
      padding: 2%;
    }
  }
}

#secundaryPage {
  height: 115vh;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .cardArticles-1 {
    grid-area: ellos;
    max-width: auto;
    box-shadow: $sombra-articles;
    border-radius: 50px;
    border: 5px;
    margin-top: 30px;
    padding: 2%;
    text-align: center;

    img {
      width: 100px;
      transition: width 2s;
    }

    img:hover {
      width: 200px;
    }

    h2 {
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
  }

  .cardArticles-2 {
    grid-area: mapa;
    width: auto;
    box-shadow: $sombra-articles;
    border-radius: 50px;
    border: 5px;
    margin-top: 30px;
    @include flex (column, center, center);
    text-align: center;
    padding: 2%;

    h2 {
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }

    iframe {
      padding: 5% 0;
      margin-bottom: 0;
    }
  }

  .cardArticles-3 {
    grid-area: años;
    max-width: auto;
    box-shadow: $sombra-articles;
    border-radius: 50px;
    border: 5px;
    margin-top: 30px;
    text-align: center;
    padding: 2%;
    margin-bottom: 0;
    font-weight: 600;
    line-height: normal;

    h2 {
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
  }

  .cardArticles-4 {
    grid-area: productos;
    max-width: auto;
    box-shadow: $sombra-articles;
    border-radius: 50px;
    border: 5px;
    margin-top: 30px;
    text-align: center;
    padding: 2%;
    margin-bottom: 0;

    img {
      width: 200px;
      transition: 3s;
    }

    img:hover {
      width: 300px;
    }

    h2 {
      font-weight: 600;
      line-height: normal;
      margin: 0;
    }
  }

  p {
    margin: 0;
  }

  h4 {
    margin: 0;
  }
}

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  header {
    font-size: small;
  }

  #secundaryPage {
    height: 140vh;
  }
}

@media screen and (max-width: 767px) {
  #secundaryPage {
    height: 200vh;
    background-color: #788782;

    .cardSecundaryPage {
      display: flex;
      flex-direction: column;
      margin: 0 1%;

      .cardArticles-1 {
        padding: 0 1%;
      }

      .cardArticles-2 {
        padding: 0 1%;
      }

      .cardArticles-3 {
        padding: 0 1%;
      }

      .cardArticles-4 {
        padding: 0 1%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  #frontPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    .portadaIzquierda {
      width: 100%;

      h1 {
        font-size: 2rem;
      }
    }

    .portadaDerecha {
      width: 90%;
    }
  }

  #secundaryPage {
    height: 230vh;

    .cardArticles-2 {
      iframe {
        width: 150px;
        height: 150px;
      }
    }

    .cardArticles-3 {
      padding: 2%;
    }

    .cardArticles-4 {
      padding: 4% 0;

      .articleImg {
        display: flex;
        flex-direction: row;
        justify-content: center;

        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
