/*MAIN*/

/*PORTADA*/

#portadaIndex {
  background-color: $background-color-portada;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .portadaRight {
    width: 50vw;

    img {
      border-radius: 50px;
      width: 100%;
      padding: 2%;
    }
  }

  .portadaLeft {
    width: 50vw;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 0;
      font-weight: 400;
      line-height: normal;
      font-family: $fuente-titulo;
    }

    .tarjeta {
      color: black;
    }

    .buttom {
      border-radius: 50px;
      border: 2px solid white;
      text-decoration: none;
      background-color: rgb(3, 96, 128);
      color: white;
      padding: 15px 25px;
      display: inline-block;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      margin-top: 5%;
      transition: padding 2s;
    }

    .buttom:hover {
      padding: 30px 50px;
    }
  }
}

/*PORTADA SERVICIOS*/

#servicios {
  background-color: $background-color-portada-secundaria;
  color: black;
  line-height: normal;

  a {
    text-align: center;
    text-decoration: none;
    color: black;

    h2 {
      padding-top: 4%;
      margin-bottom: 0;
      font-family: $fuente-titulo;
    }
  }

  
  .cardsServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 4%;

    .servicios {
      width: 320px;
      box-shadow: $sombra-articles;
      margin-top: 50px;
      border-radius: 50px;
      border: 5px;
      text-align: center;
      transition: width 3s;

      img {
        border-radius: 50px;
        border: 5px;
        width: 100%;
      }
    }

    .servicios:hover {
      width: 400px;
      
    }
  }
}

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  #portadaIndex {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 90%;
      padding-top: 10%;
    }

    .portadaRight {
      width: 70%;
    }
  }

  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 140vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 100%;
    }

    .portadaRight {
      width: 70%;
    }
  }

  #servicios {
    .cardsServicios {
      flex-direction: column;
      align-items: center;

      .servicios {
        width: 80%;
        padding: 1%;
      }
    }
  }
}

@media screen and (max-width: 320px) {
  /*Portada principal*/

  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 100%;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: large;
      }
    }

    .portadaRight {
      width: 90%;
    }
  }

  #servicios {
    .cardsServicios {
      flex-direction: column;
      align-items: center;

      .servicios {
        width: 80%;
        padding: 1%;
      }
    }
  }
}
