/*MAIN*/

/*PORTADA*/

#portadaIndex {
  background-color: rgb(122, 111, 111);
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .portadaRight {
    width: 50vw;

    img {
      border-radius: 50px;
      width: 100%;
      padding: 2%;
    }
  }

  .portadaLeft {
    width: 50vw;
    text-align: center;

    h1 {
      font-size: 3rem;
      margin-bottom: 0;
      font-weight: 400;
      line-height: normal;
    }

    .tarjeta {
      color: black;
    }

    .buttom {
      border-radius: 50px;
      border: 2px solid white;
      text-decoration: none;
      background-color: rgb(3, 96, 128);
      color: white;
      padding: 15px 25px;
      display: inline-block;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      margin-top: 5%;
    }
  }
}

/*PORTADA SERVICIOS*/

#servicios {
  background-color: #788782;
  color: black;
  line-height: normal;

  h2 {
    text-align: center;
    padding-top: 4%;
  }

  .cardsServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 4%;

    .servicios {
      width: 320px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
        rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
      margin-top: 50px;
      border-radius: 50px;
      border: 5px;
      text-align: center;

      img {
        border-radius: 50px;
        border: 5px;
        width: 100%;
      }
    }
  }
}

/*MEDIA QUERYS*/

@media screen and (max-width: 1024px) {
  #portadaIndex {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 90%;
      padding-top: 10%;
    }

    .portadaRight {
      width: 70%;
    }
  }

  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
}

@media screen and (max-width: 767px) {
  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 140vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 100%;
    }

    .portadaRight {
      width: 70%;
    }
  }

  #servicios {
    .cardsServicios {
      flex-direction: column;
      align-items: center;

      .servicios {
        width: 80%;
        padding: 1%;
      }
    }
  }
}
