/*MAIN*/

/*PORTADA*/

#portadaIndex {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 100vh;
  @include flex(row, center, center);
  .portadaRight {
    width: 50vw;

    img {
      border-radius: 50px;
      width: 90%;
      padding: 2%;
    }
  }

  .portadaLeft {
    width: 50vw;
    text-align: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 0;
      font-weight: normal;
      line-height: normal;
      font-family: $fuente-titulo;
    }

    .tarjeta {
      color: black;
    }

    .buttom {
      border-radius: 50px;
      border: 2px solid white;
      text-decoration: none;
      background-color: rgb(3, 96, 128);
      color: white;
      padding: 15px 25px;
      display: inline-block;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      margin-top: 5%;
      transition: padding 2s;
    }

    .buttom:hover {
      padding: 30px 50px;
    }
  }
}

/*PORTADA SERVICIOS*/

#servicios {
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: black;
  line-height: normal;

  a {
    text-align: center;
    text-decoration: none;
    color: black;

    h2 {
      padding-top: 4%;
      margin-bottom: 0;
      font-family: $fuente-titulo;
      transition: scale, color, 2s;
    }

    h2:hover {
      scale: 1.5;
      color: whitesmoke;
    }
  }

  .cardsServicios {
   @include flex (row, space-around, stretch);
   
    
    padding-bottom: 4%;

    .servicios {
      width: 25%;
      box-shadow: $sombra-articles;
      margin-top: 50px;
      border-radius: 50px;
      border: 5px;
      text-align: center;
      transition: width 3s;

      img {
        border-radius: 50px;
        border: 5px;
        width: 100%;
      }
    }

    .servicios:hover {
      width: 400px;
    }
  }
}

@media screen and (max-width: 1024px) {
  #portadaIndex {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 90%;
      
    }

    .portadaRight {
      width: 90%;
    }
  }

  #servicios .cardsServicios {
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    
    .servicios {
      padding: 0 1%;
    }
  }
}

@media screen and (max-width: 768px) {
  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 140vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 100%;
    }

    .portadaRight {
      width: 70%;
    }
  }

  #servicios {
    .cardsServicios {
      flex-direction: column;
      align-items: center;

      .servicios {
        width: 80%;
        padding: 1%;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  /*Portada principal*/

  #portadaIndex {
    display: flex;
    flex-direction: column;
    height: 120vh;
    justify-content: center;
    align-items: center;

    .portadaLeft {
      width: 100%;

      h1 {
        font-size: 2rem;
      }

      h2 {
        font-size: large;
      }
    }

    .portadaRight {
      width: 90%;
    }
  }

  #servicios {
    .cardsServicios {
      flex-direction: column;
      align-items: center;

      .servicios {
        width: 80%;
        padding: 1%;
      }
    }
  }
}
